<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aplicação para BD - Flask</title>
</head>
    <h1>Projeto de BD</h1>
    <h2>Inserir Retalhista</h2>
    <form action="executar_insercao_retalhista" method="post">
        <p>Escolha o nome do retalhista:</p>
            <input type="text" name="nome_do_retalhista">
        <p>Escolha o número TIN:</p>
            <input type="number" name="tin_do_retalhista">
        <p><input type="submit" value="Inserir Retalhista"></p>
    </form>
</body>
</html>